/BepInEx/cache
/Lethal Company_Data
/MonoBleedingEdge
/.mods/.mypy_cache
/.mods/new-mod-dir/
/.mods/old/
/.mods/thunderstore_cache.sqlite
/.mods/up-to-date-mods/
/*.dll
!/winhttp.dll
/*.exe
/*.png
*.log
*.~1~
